<?xml version='1.0' encoding='utf-8'?>
<widget id="io.anyline.adcubum" version="0.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Adcubum Document Snapper</name>
    <preference name="deployment-target" value="8.2" />
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/ic_launcher.png" />
    <preference name="BackupWebStorage" value="local" />
    <engine name="android" spec="git+https://github.com/apache/cordova-android.git" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="io-anyline-adcubum" spec="file:///Users/jonesBoi/Anyline/Adcubum/adcubum-cordova-plugin" />
</widget>
